
/* Base */
* {
    outline: none;
}

html, body {
    height: 100%;
}

section {
    margin-bottom: 24px;
}

body {
    font-family: 'Trebuchet MS',sans-serif;
    font-size: 13px;
    line-height: 1.6;
    color: #8c8c8c;
    background-color: #b8b7c2;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #598EBF;
    text-decoration: underline;
}

a:hover {
    color: #598EBF;
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}

a.none:hover {
    text-decoration: none;
}

.rounded {
    border-radius: 10px !important;
}

/*BUTTONS*/

.btn-primary {
    background-color: #147ec7;
    border: none;
    color: #fff;
}

.btn-primary:hover {
    background-color: #136bae;
}

.btn-outline-primary {
    border-color: #147ec7;
    color: #147ec7;
}

.btn-outline-primary:hover {
    border-color: #136bae;
    color: #fff;
    background-color: #136bae;
}

.btn-success {
    background-color: #9abb3f;
    border: none;
}

.btn-success:hover {
    background-color: #829e34;
}

/*ICONS*/
.fa-television {
    color: #000;
}

.fa-credit-card {
    color: #000;
}

.fa-bars {
    color: #474747;
}

/* Header */

.top {
    background-color: #9abb3f;
    color: #fff;
    font-size: 13px !important;
}

.top a {
    color: #fff;
}

.links a {
    text-decoration: none;
}

.menu-info {
    display: flex;
}

.block-sm-12 {
    margin-bottom: 20px;
}

.banner-block {
    background: url(img/banner.png) no-repeat center, center;
    background-size: cover;
    height: 370px;
}

.header-link a {
    margin-right: 5px;
    color: #fff;
}

.header-link a:hover {
    border-bottom: none;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    text-decoration: none;
}

.header-icon {
    margin-right: 5px;
    color: #474747;
}

/* MENU */
.site-main {
    background-color: #fff;
    box-sizing: border-box;
}

.menu_area {
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #4194cb;
    min-height: 70px;
    padding-top: 0;
    padding-bottom: 0;
}

.menu_area a {
    color: #fff;
}

.top-menu a {
    color: #fff;
    text-decoration: none;
}

.top-menu-item {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 22px !important;
    padding-right: 22px !important;
}

.phone-item {
    height: 100%;
    line-height: 20px;
}

.phone-item:first-child {
    margin-right: 20px;
}

.phone-number {
    font-weight: bold;
    font-size: 23px;
}

.phone-text {
    font-size: 15px;
}

.header-link-logo {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-right: 70px;
    line-height: 21px;
}

.header-link-logo:hover {
    color: #fff;
    text-decoration: none;
}

.logo-name {
    font-weight: bold;
    font-size: 26px;
}

.logo-undername {
    font-size: 13px;
}

.dropdown-menu{
    margin-top:0;
    border-radius: 0;
    background-color: #99b941;
    border:none;
    font-size: 14px;
    line-height: 14px;
}

.dropdown-item{
    padding-left: 10px;
    padding-right: 70px;
    text-decoration: none;
    border-bottom: 1px #fff dotted;
}

.dropdown-item:last-child{
    padding-left: 10px;
    text-decoration: none;
    border-bottom: none;
}

.dropdown-item:hover{
     background-color: #9abb3f;
    text-decoration: underline;
    color: #fff;
}

.dropdown-item:visited{
    background-color: #9abb3f;
    color: #fff;
}

/*NEWS BLOCK*/

.news-block {
    background-color: #e3e3e3;
}

.news-date {
    font-weight: bold;
    font-size: 18px;
    color: #147ec7;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 17px;
}

.news-number {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.news-month {
    text-align: center;
    font-size: 13px;
    font-weight: 100;
}

.news-other {
    padding-left: 10px;
}

.news-title {
    font-size: 13px;
    text-decoration: underline;
    margin-bottom: 5px;
    color: #598EBF;
    font-weight: bold;
}

.news-title-inpage {
    font-size: 20px;
    margin-bottom: -7px;
    color: #598EBF;
    font-weight: bold;
}

.news-title:hover {
    text-decoration: none;
}

.news-body {
    font-size: 11px;
    line-height: 16px;
    color: #484848;
    text-decoration: none;
    max-height: 80px;
    overflow: hidden;
    word-break: break-all;
}

.news-btn-more {
    height: 17px;
    color: #598EBF;
    text-decoration: underline;
    text-decoration-style: dotted;
    font-size: 13px;
}

.news-btn-more:hover {
    text-decoration: none;
}

.all-news-btn {
    font-size: 14px;
    margin-top: 15px;
    text-align: end;
}

/*MAIN FORM*/

.registr-input {
    margin: 0;
    width: 100%;
    height: 50px;
}

.order-form-title {
    font-size: 19px;
    color: #4194cb;
    margin-bottom: 5px;
}

.order-form-text {
    font-size: 12px;
    line-height: 13px;
    color: #484848;
}

.order-form {
    background-color: #e3e3e3;
}

.order-form .btn {
    line-height: 2.4;
}

/* USER_BLOCKS */

.img-block {
    background: url(img/img_block.png) no-repeat center, center;
    background-size: contain;
    height: 80px;
    width: 100%;
}

.title-site-map {
    background: url(img/title-site-map.png) no-repeat center, center;
    background-size: contain;
    height: 80px;
    width: 100%;
}

.user-block-btn {
    font-size: 13px;
}

.body-block {
    height: 65px;
}

.body-block-text {
    line-height: 15px;
    font-size: 12px;
    margin-bottom: 15px;
    color: #484848;
}

.footer-left-btn {
    font-size: 13px;
    text-decoration: underline;
    color: #147ec7;
}

.footer-left-btn:hover {
    text-decoration: none;
}

.default-block {
    background-color: #e2e2e2;
}

.mediazone-block {
    background-color: #99b941;
}

.mediazone-block .title-block-text {
    color: #fff;
}

.mediazone-block .body-block-text {
    color: #fff;
}

.mediazone-block .user-block-btn {
    color: #fff;
    background-color: #147ec7;
}

.mediazone-block .user-block-btn:hover {
    color: #fff;
    background-color: #136bae;
}

.tvinfo-block {
    background-color: #147ec7;
}

.tvinfo-block .title-block-text {
    color: #fff;
}

.tvinfo-block .body-block-text {
    color: #fff;
}

.camera-block {
    background-color: #e2e2e2;
    background: url(img/camera.png) no-repeat;
    background-size: cover;
}

.play-btn {
    background: url(img/play.png) no-repeat;
    background-position: center, center;
    background-size: contain;
    opacity: 0.8;
    height: 73px;
}

.play-btn:hover {
    cursor: pointer;
    opacity: 1;
}

.camera-block .body-block {
    margin-top: 15px;
    margin-bottom: 15px;
    height: auto;
}

.camera-block .title-block-text {
    color: #fff;
}

.support-block {
    position: relative;
}

.support-block .footer-block {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-bottom: 8px;
}

.support-block ul {
    line-height: 15px;
}

.title-block {
    margin-bottom: 5px;
}

.title-block-text {
    font-size: 17px;
    color: #147ec7;
    font-weight: bold;
}

/*MODAL*/

.equipment-title {
    font-weight: bold;
    font-size: 35px;
    color: #147ec7;
}

.equipment-small-title {
    font-weight: 100;
    font-size: 16px;
    color: #147ec7;
    margin-bottom: 20px;
}

.checkbox-text {
    color: black;
    font-size: 13px;
}

.above-input-text {
    color: black;
    font-size: 10px;
    margin-left: 5px;
}

.payment-text-modal {
    color: black;
    font-size: 17px;
}

.others {
    color: black;
    font-size: 13px;
}

.text-payment {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/* Footer */

.footer-titles {
    font-size: 17px;
    color: #147ec7;
    font-weight: bold;
    margin-bottom: 7px;
}

.list-in-footer li {
    line-height: 13px;
}

.list-in-footer a {
    margin-left: -40px;
    font-size: 11px;
    color: #147ec7;
    font-weight: normal;
    text-decoration: underline;
}

.list-in-footer a:hover {
    text-decoration: none;
}

.phone-number-footer {
    color: black;
    font-size: 23px;
}

.address {
    color: black;
    font-size: 13px;
    padding-bottom: 10px;
}

footer.site-footer {
    background: #e6e6e6;
    padding: 20px 0 0;
    float: left;
    width: 100%;
}

footer.site-footer h4 {
    font-size: 17px;
    font-weight: 500;
}

footer.site-footer ul {
    padding-left: 0;
    margin-bottom: 20px;
    list-style: none;
}

footer.site-footer ul a {
    color: #666;
    font-size: 13px;
}

footer.site-footer p {
    font-size: 13px;
}

footer.site-footer p a {
    color: #666;
}

/*MEDIA*/

@media (max-width: 1200px) {
    .phone-number {
        font-size: 17px;
    }

    .phone-text {
        font-size: 12px;
    }

    .top-menu-item {
        font-size: 13px;
    }

    .header-link-logo {
        margin-right: 40px;
    }
}

@media (max-width: 991px) {
    .menu-info {
        display: none;
    }
}

@media (max-width: 768px) {
    .header-icon {
        width: 20px;
        text-align: center;
    }

    .list-inline-item {
        margin-bottom: 5px;
    }

    .top-menu-item {
        height: auto;
        line-height: 1.5;
    }

    .nav-brand {
        margin-bottom: 15px;
    }

    .banner-block {
        background: url(img/banner.png) no-repeat center, center;
        background-size: cover;
        height: 150px;
    }

    .dropdown-menu {
        background-color: transparent;
        padding-left: 10px;
    }

    .dropdown-item:hover {
        background-color: transparent;
    }

    .dropdown-item:visited {
        background-color: transparent;
    }

    .top-menu-item{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .menu_area {
    padding-top: 0.5rem;
}
}
